<div>
  <div id="colonne_droite" class="doc">
    <div class="contenu_infos"><p>Les Dragons sont des animaux de Nothé mais ils ont un statut spécial. Ce sont des
      créatures vivantes comme les chiens, chats ou poules mais à la naissance ils doivent être alliés à un humain
      possédant un Don spécial pour devenir leur Amexo car ils ont besoin d&#039;un lien mental, d&#039;une âme à
      laquelle se rattacher. En effet, les Dragons n'ont pas toujours été dans la dimension des Nothiens, ils étaient
      d&#039;anciennes créatures limbiques dans un lointain passé.</p>
      <p>La Dracologie ou la science des Dragons est une science théorique mais bel et bien fondée, si vous voulez
        tout savoir sur ces merveilleux Amexos vous devrez consulter cette section de fond en comble !</p>
    </div>

    <span class="item" style="margin: 10px;" ng-include="template[0].url" ng-click="showAdvanced(0, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[1].url" ng-click="showAdvanced(1, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[2].url" ng-click="showAdvanced(2, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[3].url" ng-click="showAdvanced(3, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[4].url" ng-click="showAdvanced(4, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[5].url" ng-click="showAdvanced(5, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[6].url" ng-click="showAdvanced(6, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[7].url" ng-click="showAdvanced(7, $event)"></span>

    <span class="item" style="margin: 10px;" ng-include="template[8].url" ng-click="showAdvanced(8, $event)"></span>

  </div>
</div>
