<div ng-class="myClass">
  <div ng-class="myTitle">Anatomie externe</div>
  <div ng-class="myItemDeco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div ng-class="myContenu">
    <p>
    <center><img class="img_illu" style="width: 600px;height: auto;"
                 src="http://th01.deviantart.net/fs71/PRE/i/2014/015/7/9/hera_by_hyrotrioskjan-d727te8.jpg"/><br/>Crédits
      : <a href="http://www.deviantart.com/art/Hera-426987152">Hyrotrioskjan</a></center>
    </p>
    <p>Les dragons possèdent une <b>tête triangulaire</b> aux bords légèrement arrondis, un crâne allongé à la
      manière des vélociraptors dans Jurassic Park, si vous voyez ce que je veux dire. Ils ont une <b>crête
        centrale</b>, ce sont de grandes piques édentées et légèrement espacées entre elles. Généralement,
      le nombre et/ou la taille des crêtes varie selon le dragon. Elles partent de la base des cornes jusqu&#039;au
      bout de la queue devenant de plus en plus petites.</p>
    <p><b>Les yeux</b> sont disposés sur les côtés de la tête du dragon, ils sont plutôt gros et reflètent la
      lumière de la lune ce qui fait qu&#039;ils brillent la nuit. Ils ont une pupille noire ressemblant à
      celles des serpents, bordée par un iris verte ou jaune voire ambre et d&#039;une couleur plus ou moins
      intense. Les dragons ont <b>deux paires de paupières</b>, l&#039;une, les paupières internes, sont très
      fines et transparentes, les autres, nommées les paupières externes, sont la peau du dragon et elles sont
      relativement épaisses mais souples. Donc, en partant de l&#039;intérieur, les premières paupières
      servent à humidifier la rétine et elles protègent l&#039;œil sous l&#039;eau (un dragon regarde sous l&#039;eau
      quand il nage), la seconde paire permet de protéger l&#039;œil de la poussière et elle est fermée
      lorsque le dragon dort.</p>
    <p>Vu du dessus, le <b>museau</b> à une base rectangulaire dont un bord est arrondi, les <b>naseaux</b> (au
      nombre de deux) surhaussent la mâchoire supérieure. Les dragons ont des <b>dents</b> fines et
      tranchantes, néanmoins ils ont deux grandes canines sur la mâchoire supérieure et deux autres sur la
      mâchoire inférieure qui dépassent légèrement de sa bouche, elles servent à agripper leur proie et/ou à
      les saigner tandis que les autres dents très tranchantes la déchiquettent. Au fond des mâchoires, des
      molaires broient le reste de chair et d&#039;os avant de tout faire passer dans leur œsophage.</p>
    <p>Les <b>oreilles</b> sont situées à la base des cornes, se sont deux trous disposés de chaque côté du
      crâne, elles aussi possèdent une peau protectrice et mobile, refermable sous l'eau par exemple. On
      retrouve au sommet du crâne une <b>paire de cornes</b>, la génétique leur donne toutes sortes de formes
      : recourbées, droites, vers l&#039;arrière ou vers les côtés.</p>
    <p><b>Le cuir</b> d&#039;un dragon est doux et chaud. Bien que très doux, il peut présenter quelques
      aspérités, de plus un cuir mal entretenu peut créer de graves blessures. Les dragons sont des créatures
      à sang froid, ils aiment donc se prélasser au soleil et ils adorent aussi la baignade. On retrouve des
      restes d'écailles au niveau de la poitrine, des pattes et tout le long de a crête centrale.</p>
    <p><b>Les griffes</b> sont aiguisées et nécessite un grand soin, il ne faut surtout pas les négliger. Il
      arrive qu&#039;un dragon perde une griffe mais ceci reste très rare car ça peut être très grave si on n&#039;agit
      pas, il est à noter qu&#039;une fois perdues, elles ne repoussent pas. <b>Les pattes avant</b> (aussi
      appelées antérieurs) possèdent quatre doigts et un pouce opposable(cinq doigts donc) tandis que <b>les
        pattes arrières</b> (aussi appelées postérieurs) ont trois doigts très longs dont seuls les bouts
      touchent le sol(à la manière des T-rex, <font size="1">que dîtes-vous ? Jurassic Park m'a beaucoup
        influencée ? Mais non...</font>) et un ergot(un doigt non développé).</p>
    <p><b>Les ailes</b> ont une partie osseuse, une autre musculaire et une partie membraneuse. L&#039;os permet
      d&#039;avoir une structure rigide et porte les muscles, ceux-ci permettent de battre des ailes. La
      partie membraneuse permet au dragon d&#039;utiliser les vents pour planer, avancer ou reculer. La
      membrane plus ou moins épaisse et robuste mais souple rejoint le début de la queue. Cette même membrane
      est assez transparente et on y voit les nombreux minuscules vaisseaux sanguins qui la parcourent.</p>
    <p><b>La queue</b>, devient de plus en plus fine jusqu&#039;à se diviser en deux morceaux aux bouts
      arrondis, elle est donc bifide.</p>
  </div>
</div>
