<div class="item">
  <div class="titre_article">Anatomie interne</div>
  <div class="item_deco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div class="item_contenu">
    <p>Le <b>cerveau</b> voit sa taille varier selon la couleur du dragon. L&#039;intelligence occupe une faible
      place comparée à celle qu&#039;occupe l&#039;empathie et les émotions, ce qui explique l&#039;arriération
      des petits dragons. De plus, une grande partie est consacrée à l&#039;instinct et à la capacité de
      transplanation.</p>
    <p>Les dragons ont <b>un grand estomac</b> qui reçoit la nourriture et la digère en 12h. Ils se nourrissent
      tous les trois jours mais certains plus gourmand prennent de petits encas alors que d&#039;autres plus
      conservateurs mangent tous les cinq jours.</p>
    <p><b>Les intestins et l&#039;oesophage</b> qui peuvent se distendre si besoin est, sont aussi de taille
      conséquente, assez grande pour laisser passer des carcasses d&#039;ovin.</p>
    <p>Il existe une glande proche des amygdales qui se nomme la <b>glande pyrotechnique</b>, elle sécrète un
      gaz, nommé le <b>pyrogaz</b> à haute température qui emprunte le <b>canal pyrotechnique (ou canal du
        feu)</b> dont l&#039;ouverture est situé à droite de l&#039;entrée de l&#039;oesophage. Ce gaz, une
      fois en contact avec de l&#039;oxygène créer une flamme à plus de 100 degrés. Avant de cracher une
      flamme, les dragons sécrètent une <b>salive spéciale</b> qui protège leur gueule.<br/><b>Remarque :</b>
      Certains herboristes travaillent sur cette salive pour en faire un baume pour calmer les brûlures, mais
      la salive semble infecter les plaies.</p>
    <p>Un <b>cœur</b> de dragon est très puissant et est beaucoup plus gros que le cœur d&#039;un humain. Il est
      aussi plus résistant que celui d&#039;un homme, les dragons sont peu sujets aux attaques cardiaques.</p>
    <p><b>Les poumons</b> sont aussi résistants et puissants, de plus ils sont très performants : ils permettent
      de retenir la respiration pour 20 minutes environ.</p>
    <p><b>Le rectum</b> se trouve à environ 50 cm de la base et sous de la queue. Tous les deux à trois jours,
      les dragons vont se soulager dans le Réseau, les dragonnets quant à eux préfèrent des coins tranquilles,
      discrets, ils enterrent leurs déjections, il est à noter que c'est un très bon engrais à utiliser
      modérément.</p>
    <p>Les <b>organes reproducteurs</b> sont entre les postérieurs, avant la base de la queue. Chez les mâles
      ils sont similaires à ceux des chevaux, ils possèdent un fourreau d&#039;où le pénis sort lors de l&#039;accouplement,
      chez les femelles elles ont un orifice protégé par une fine peau qui s&#039;écarte lors de l&#039;accouplement
      et pour pondre.</p>
    <p>La <b>poche aux oeufs</b> n&#039;est rien de plus que le prolongement de l&#039;organe reproducteur chez
      la femelle, la peau se distend au fur et à mesure que les oeufs grossissent.</p>
    <p><b>Le sang</b> est violacé, il commence à tendre vers le rouge, en fait le dragon étant une
      ex-invocation, elle a du s'adapter pour respirer, on en conclut qu'un dragon a un pourcentage en
      dioxygène moins important que celui d'un humain. La <b> chair</b> est donc violacée elle aussi. Les
      <b>os</b>
      des dragons sont très résistants, il y est rare qu&#039;ils se brisent mais ça arrive.</p>
  </div>
</div>
