<div class="item">
  <div class="titre_article">Capacités</div>
  <div class="item_deco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div class="item_contenu">
    <p>Les dragons peuvent voyager d&#039;un point à un autre grâce à la <b>transplanation</b>, ils utilisent le
      spatio-temps pour cela, en fait la transplanation crée une brèche dans le temps et l&#039;espace qui
      permet le passage du dragon, mais cette brèche ne reste pas ouverte infiniment, elle se referme 15
      secondes plus tard. De ce fait ne vous attardez pas, ne paniquez pas car une fois emprisonné dans une
      autre dimension, vous ne pouvez pas en ressortir. La transplanation est une technique qui déplace le
      corps et l&#039;esprit, donc tout un être en entier, dans une dimension parallèle mais qui par la force
      de la pensée amène à un autre lieu bien défini et réel. Pour cela il faut avoir une image précise du
      lieu où vous souhaitez vous rendre et la communiquer au dragon pour qu&#039;il vous y emmène ! On peut
      aussi voyager dans le temps mais cela est interdit, ce voyage extrêmement dangereux n&#039;est autorisé
      qu&#039;en cas très spécial!
      <br/><b>Note :</b> Cette capacité est due au fait que les Dragons étaient des créatures limbiques,
      emprisonnées sur Nothé, elles ont gardé la faculté de voyager d&#039;une dimension à une autre tout en
      étant incapables de retrouver le chemin des Limbes...</p>
    <p>On entend un bruit d&#039;aspiration à chaque disparition et apparition par transplanation et lorsqu&#039;on
      est dans la dimension parallèle nommée <b>le Réseau</b> un froid glacial nous entoure et pénètre jusqu&#039;à
      nos os durant quelques secondes paraissant éternité. Puis on ressort à l&#039;endroit voulu en moins de
      temps qu&#039;il n&#039;en faut pour fermer les yeux aveuglés par un flash lumineux.</p>
    <p>Les dragons communiquent avec leurs semblables et leur maître par <b>télépathie</b>. Les Dragons, étant
      une forme d'Amexo, peuvent parler à n'importe qui mais ils sont tellement attachés à leur âme-soeur
      qu'ils ne veulent pas "trahir" le lien qui les unit. Généralement, ils ont la même voix que leur maître
      mais parfois ils ont la voix d&#039;une personne chère à leur âme-sœur humaine. Les Candidats venant d&#039;être
      liés sont très marqués par ce détail.</p>
    <p>De plus, ils peuvent <b>déceler le Don de Magie ou le Don d&#039;Alliance</b> chez une personne. Un
      dragon expérimenté, et plus particulièrement doué, peut même deviner l&#039;élément du Mage.</p>
    <p>Ils ont une ouïe assez fine de même qu&#039;ils ont un bon odorat et qu&#039;ils ont le sens du goût, c&#039;est
      à dire qu&#039;ils peuvent préférer un met à un autre. Ils ont un très très bonne vue, d&#039;ailleurs
      ils voient en couleurs! Leur vue s&#039;adapte à leur guise, loupe ou télescope, elle est très efficace.
      S&#039;ils partagent toutes leurs émotions avec leur maître, ils peuvent aussi leur prêter leurs sens :
      la vue et le gout essentiellement et réciproquement, ils peuvent empruntés les sens de leur maître.
      Dernier point et des plus primordiaux : leur instinct ne les trompe jamais !</p>
    <p>Généralement pacifiques, il se peut que des reines se battent lors de l&#039;accouplement et les
      nouveaux-nés peuvent maladroitement blesser un(e) Candidat(e).</p>
    <p>Si leur maître meurt, les yeux du dragon deviennent blancs et son cuir ternit maladivement, puis il s&#039;envole
      dans le Réseau pour ne jamais revenir. Dans le cas où le dragon meurt, le(la) dragonnier(ière) devient
      fou(folle) et a du mal à retrouver le goût de la vie.</p>
  </div>
</div>
