<div ng-class="myClass">
  <div ng-class="myTitle">Entraînements</div>
  <div ng-class="myItemDeco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div ng-class="myContenu">
    <p><u><b>Entraînement des Dragonnets et Cadet(te)s :</b></u></p>
    <p><b>De l’Éclosion jusqu&#039;au 4e mois :</b></p>
    <p><u>Du côté des Dragonnets :</u> Ils passent leur temps à manger et dormir. Leur lien avec leur âme-soeur
      se forge, ils s’habituent l’un à l’autre et apprennent à vivre ensemble. Ils se lient aussi avec leurs
      camarades à ailes : frères/sœurs de couvée essentiellement. Ils commencent à jouer entre eux vers le
      2ième mois.</p>
    <p><u>Du côté des Cadet(te)s :</u> Ils reçoivent des cours de mise à niveau. Le maître des Cadets leur fait
      réviser le calcul, l&#039;orthographe, et le code d&#039;Honneur des Dragonniers, il insistera sur ce
      dernier point. Bien sûr, le maître des Cadets leur enseignera comment s&#039;occuper correctement de
      leurs dragonnets ainsi que les remèdes contre les constipations et/ou diarrhées dont le taux est à la
      hausse durant cette période.</p>
    <br/>
    <p><b>Du 4e mois jusqu&#039;au 6e mois :</b></p>
    <p><u>Du côté des Dragonnets :</u> Les dragonnets grandissent de plus en plus et leurs maîtres les huilent
      tous les jours pour leur assurer aucun craquement de cuir. Maintenant assurés sur leurs pattes, leur
      démarche est plus noble. Bientôt ils s&#039;exerceront avec leurs ailes, essayant d’élever leur poids
      dans les airs de couvrir de courtes distances sous le fier regard de leur âme-sœur.</p>
    <p><u>Du côté des Cadet(te)s :</u> Les Cadets subissent des cours de soutien lorsque le temps n&#039;est pas
      favorable, sinon ils étudient les premiers soins indispensables à connaître pour soigner leur dragonnet
      : comment faire du baume de cicatrisation et des bandages sans oublier qu&#039;ils apprennent à
      distinguer et à traiter les différentes blessures qu’ils seront susceptibles de rencontrer durant leur
      vie. Aussi, ils commencent à approfondir leurs connaissances sur les harnais et ils apprennent à présent
      à les entretenir.</p>
    <br/>
    <p><b>Du mois 6 jusqu&#039;au mois 8 :</b></p>
    <p><u>Du côté des Dragonnets :</u> Les dragonnets volent de plus en plus loin et de plus en plus longtemps,
      ils volent de mieux en mieux et commencent à chasser le gibier accompagnés de leurs aînés. Ils peuvent
      maintenant porter leur maître et les entraînements se font en formation sous le regard du Maître des
      Apprentis. En plus de ça, des ballets volants sont mis en œuvres. Ne rigolez pas, ces pratiques sont
      très utiles elles permettent d’accroître l’agilité, la complicité et elles habituent les couples à
      l’autorité du chef d’escadrille, donc celui qui dirige le ballet.</p>
    <p><u>Du côté des Cadet(te)s :</u> Les Cadets poursuivent leurs cours. Au programme, quelques cours de
      soutien comme aux premiers mois plus les cours sur les soins, les harnais et les formations de vol,
      quelques cours de météorologie sont aussi dispensés. Notons qu’ils suivent des cours théoriques sur la
      Pyrotechnie et la Transplanation. Vient s&#039;ajouter à ça, l&#039;observation des entraînements des
      Dragonniers et Dragonnières. </p>
    <br/>
    <p><b>Du mois 10 jusqu&#039;au mois 12 :</b></p>
    <p><u>Du côté des Dragonnets :</u> Tout s’accélère : à partir du 10e mois, ils peuvent utiliser la
      Transplanation durant les cours de pratique avec le Responsable. Ainsi s’organisent des tournées sur
      tout Nothé pour recueillir des coordonnées. A partir du 12e mois, les flammes commencent à jaillir. Ils
      ont presque atteint leur taille adulte (leur croissance s’achève aux alentours du 15ième mois sauf pour
      les Reines qui la finisse vers le 17ième mois de leur existence), ils atteignent leur maturité sexuelle
      dans le courant du mois 15. Les Bleues et Vertes effectuent leur premier vol nuptial entre le 13e et le
      15e mois tandis que les Dorées ne volent la première fois qu’aux alentours du 18ième mois minimum et au
      maximum aux alentours du 20ième mois.</p>
    <p><u>Du côté des Cadet(te)s :</u> Ils entrent dans une période fatigante et stressante, ils doivent suivre
      le rythme des entraînements qui s’intensifie notamment avec les tournées de Nothé pour mémoriser les
      coordonnées de lieux. Ils doivent, de jour comme de nuit répondre aux besoins de leur dragon. Ils
      commencent à demander à des Dragonniers ou Dragonnières de les prendre pour pupille pour une durée d&#039;un
      minimum de trois mois.</p>
    <p><b>Remarques :</b><br/>• Tout au long de ces douze mois, les Cadets font des corvées en plus du
      reste.<br/>• Durant ce temps, les Cadet(te)s sont nommé(e)s Cadet(te)s mineur(e)s, après ces douze mois
      ils deviennent Cadet(te)s majeur(e)s.</p>
    <p><b>Du mois 12 au mois 15 :</b></p>
    <p>Au mois 12, une fois que le Cadet a trouvé un tuteur, il est assigné dans son escadrille sous le regard
      de ce dernier. Son quotidien se forme d&#039;entraînements, de patrouilles et de missions où il est
      évalué pendant trois mois au moins puis s&#039;il/elle est jugé(e) apte à obtenir le rang de Dragonnier
      ou Dragonnière, son tuteur en parle aux dirigeants du Rayd qui durant une cérémonie attribue les
      nouveaux rangs avec l&#039;assignation aux escadrilles. Il faut avoir au minimum 16 ans pour devenir
      Dragonnier ou Dragonnière car c&#039;est l&#039;âge de la majorité sur Nothé.</p>
    <p>Pour les Cadettes Dorées elles doivent attendre le premier vol nuptial de leur âme-soeur avant d&#039;être
      promues Dragonnières.</p>
    <p><b>Note :</b> Les Cadet(te)s de Reine, de Bronze, et les Bruns sont aussi acceptés, ont des cours
      supplémentaires dont un tronc commun :<br/><br/>• Présentation aux Dragonnières de Reine et aux
      Dragonniers de Bronze.<br/>• Études approfondies des soins draconiques.<br/>• Études du registre du Rayd<br/>•
      Bases de la diplomatie et du comportement à adopter lors des visites en extérieur<br/><br/>Les Bronzes,
      et les Bruns qui le souhaitent, étudient en plus de cela l&#039;art de gérer une Escadrille et le Rayd,
      ils participent aux réunions entre Dragonniers Bronzes et Bruns.<br/><br/>Les Dorées ont des cours au
      sujet des pontes, des vols nuptiaux, des attitudes à adopter au cours des Éclosions, de banquets et/ou
      de bals. Elles participent aux réunions entre Dragonnières de Dorées et suivent des cours d&#039;Intendance.
    </p>
    <br/>
    <p><u><b>Entraînement des Dragonniers et Dragonnières</b></u></p>
    <p>Les dragons s&#039;entraînent aux formations de vol avec leur humain. Ils continuent les exercices de la
      maîtrise des flammes et ils vont se battre pour protéger les habitants. Un planning de gardes et de
      zones à survoler est établi inscrivant le nom de l&#039;escadrille et/ou d&#039;un(e) dragonnier/ère qui
      doit surveiller une région, de nuit ou de jour. Les couples sont libres d&#039;aller où bon leur semble
      temps qu&#039;ils ne sont pas de garde.</p>
    <p><b>Notes :</b><br/>• La Dirigeante s&#039;occupe de l&#039;intendance principalement, attribuer les
      dragonneries aux Dragonniers, elle fait attention aux stocks de nourriture, de vêtements, elle veille à
      ce que tout se passe bien entre les Artisans du Rayd, les piétons et les Dragonniers. Elle représente
      son Rayd donc elle doit être diplomate et respectable de tous(Forts, Ateliers et Rayd compris !).</p>
    <p>• Le Dirigeant s&#039;occupe de la partie &quot;militaire&quot;, il gère les escadrilles, les
      entraînements, il prévoit les patrouilles, les conflits entre les Dragonniers, etc...<br/>Il doit être
      lui aussi diplomate pour parler avec les Seigneurs, les écouter et répondre à leurs attentes.</p>
  </div>
</div>
