<div class="item">
  <div class="titre_article">Équipement de base</div>
  <div class="item_deco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div class="item_contenu">
    <p><u><b>Équipement pour les dragons</b></u></p>
    <p>Les dragons sont équipés d&#039;un harnais pour que leur Dragonnier puisse voler en sécurité. Il en
      possède au moins deux qu&#039;il inspecte, entretient et répare régulièrement. C&#039;est son outil de
      travail le plus précieux, il faut absolument qu&#039;il soit en bon état au risque qu&#039;une lanière
      ne se brise et qu&#039;il n&#039;en tombe, ce qui peut donc provoquer une chute doublement mortelle.</p>
    <p>Le harnais se compose de différentes lanières en cuir à disposer sur le dragon afin de maintenir l&#039;humain
      en position stable et sécurisée.</p>
    <br/>
    <p><u><b>Équipement pour les humains</b></u></p>
    <p><b>Tenue de vol :</b><br/>La tenue de vol se compose d&#039;un pantalon en cuir et une veste de cuir
      doublée de laine. En fait, même s&#039;il y a un standard de tenue de vol, il est facile de la
      customiser selon les préférences. Par exemple, certains préfère une simple veste de cuir, d&#039;autres
      la préfère avec des manches larges et courtes. Néanmoins, elles sont toutes agrémentées d&#039;un
      ceinturon d&#039;où des lanières partent pour passer sur les épaules et viennent s&#039;attacher dans le
      dos. Ces lanières permettent de s&#039;accrocher au harnais. Il y a aussi des cuissardes fixant un
      anneau qui une fois bouclé au harnais permettent de garder les jambes en position plaquée, cela reste
      facultatif.</p>
    <p>Sur la tête trône un casque en cuir avec des lunettes de vol. Ils ont aussi des gants en cuir, qui quand
      ils ne sont pas utilisés sont coincés dans le ceinturon et bien souvent aux côtés d&#039;une dague dans
      son fourreau. Passons aux bottes, en cuir aussi, doublée de laine, elles doivent être bien adaptées aux
      jambes de son possesseur et sanglées pour éviter de les perdre en vol...mis à part ça on peut retrouver
      une grande cape en cuir recouvrant le tout.</p>
    <p>Vous l&#039;aurez compris le cuir est de mise pour les tenues de vol !
    <p>
    <center><img class="img_illu" style="width: 250px;height: auto;"
                 src="http://fc00.deviantart.net/fs44/f/2009/110/b/c/Pern_Character_by_KaiserFlames.jpg"/><br/>Crédits
      : <a href="http://kaiserflames.deviantart.com/">KaiserFlames</a></center>
    </p>
    <p><u><b>Le nécessaire de toilettage pour dragon :</b></u></p>
    <p>Une ou des brosse(s), des chiffons et/ou serviettes, du savon glycériné et de l&#039;huile <i>(de coude
      principalement!)</i>.</p>
    <p><b>Note :</b> En dehors des heures de vol, quand le temps s&#039;y prête, les Dragonniers restent en
      pantalon et chemise de coton, les Dragonnières adoptent des robes pour la plupart.</p>
  </div>
</div>
