<div ng-class="myClass">
  <div ng-class="myTitle">Noms et Couleurs</div>
  <div ng-class="myItemDeco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div ng-class="myContenu">
    <p>Le nom des dragons finit par <b>&#039;th pour les mâles</b> (exemple: Preyeth) et par <b>&#039;dh pour
      les femelles</b> (exemple: Zudh). Les dragons appellent leur maître dès leur éclosion en leur disant
      leur nom. Il est à noter que le nom des dragons reprend souvent la première syllabe du nom de l&#039;Amexo.
    </p>
    <p style="text-align: center;"><u><b>Couleurs et hiérarchie</b></u><br/><font size="2">En partant par le
      plus gradé</font></p>
    <p><b><u>Les Reines:</u></b><br/>Les Reines-dragons sont les plus grandes pour une <b>longueur moyenne de 55
      à 60 mètres</b>, une <b>envergure moyenne contenue entre 65 à 70 mètres</b> et elles font environ <b>9
      mètres au garrot</b>. Elles sont aussi les plus endurantes et elles sont caractérisées par leur <b>couleur
      or</b>. Généralement elles choisissent une <b>femme(hétérosexuelle)</b> intelligente, active et
      autoritaire, en bref elle est capable de diriger un Rayd. Ce sont les Reines qui offrent le pouvoir de
      diriger le Rayd à leur Dragonnière, lorsque l&#039;ancienne Première Reine(Reine Majeure) meurt ou prend
      la retraite, la première dragonne or qui effectue son vol nuptial obtient ce nouveau titre. Étant des
      <b>femelles fertiles</b>, elles font au moins <b>un vol nuptial tous les deux ans</b> et donnent des
      pontes plus ou moins abondantes en œufs (une <b>trentaine d&#039;œufs</b> seulement). Elles sont aussi
      intelligentes que leur maîtresse.</p>
    <p><b><u>Les Bronzes:</u></b><br/>Les dragons <b>mâles</b> de <b>couleur bronze</b> sont aussi appelés les
      prétendants car lors d&#039;un envol ils se lancent à la poursuite de la Reine en rut. Ils choisissent
      une âme-sœur humaine active, intelligente, calme et capable de diriger un Rayd, il ne faut pas oublier
      qu&#039;ils ne choisissent que des <b>hommes hétérosexuels</b>. Si un dragon-prétendant remporte l&#039;envol
      d&#039;une Reine devenant la Reine Majeure, alors celui-ci permet à son maître de diriger l&#039;ensemble
      du Rayd avec la maîtresse de la Reine. Ils sont aussi intelligents que leur maître et leurs mensurations
      sont les suivantes :
    <center><b>Longueur moyenne</b> : 45 à 50 mètres.<br/><b>Envergure moyenne</b> : 60 à 65 mètres.<br/><b>Taille
      au garrot en moyenne</b> : 7,5 à 8 mètres au garrot.
    </center>
    </p>
    <p><b><u>Les Bruns:</u></b><br/>Ces <b>dragons bruns, uniquement des mâles,</b> sont plus petits et moins
      endurants que les Reines et les Bronzes, parfois ils participent à des envols de Reine mais ne les
      remportent pas souvent. Ils secondent les Bronzes et/ou Reines dans les escadrilles de vol et leurs
      maîtres sont souvent sollicités par les dragonniers comme personnes de confiance. Donc, leurs maîtres,
      qui sont des <b>hommes hétérosexuels essentiellement</b> sont intelligents et responsables, d&#039;ailleurs
      <b>un peu moins intelligents que leurs maîtres</b> ils font tout de même preuve d&#039;un sens logique
      pour la majorité. Leurs mensurations moyennes sont <b>35 à 40 mètres de longueur</b>, <b>50 à 55 mètres
        d&#039;envergure</b> et ils mesurent environ <b>6 mètres au garrot</b>.</p>
    <p><b><u>Les Vert(e)s:</u></b><br/>Plus petits que les trois premiers décrits, moins <b>intelligents(comparable
      à celle d&#039;un adolescent)</b> et moins endurants ils sont néanmoins plus agiles et plus vifs. Voici
      quelques mesures : <b>longueur moyenne comprise entre 25 à 30 mètres, envergure moyenne allant de 40 à
        45 mètres et taille au garrot équivalente de 5 à 5,5 mètres</b>.<br/>Ces dragons là peuvent être des
      <b>mâles</b> associés à des <b>hommes hétérosexuels ou bisexuels</b> ou à des <b>femmes
        homosexuelles</b> <u>(très très rare!)</u>, ou bien des <b>femelles</b> associées à des <b>hommes
        homosexuels et rarement bisexuels</b> ou à des <b>femmes hétérosexuelles et rarement bisexuelles</b>.<br/>Les
      femelles vertes prennent <b>deux à trois envols par an</b> cependant elle sont <b>stériles</b>.</p>
    <p><b><u>Les Bleues:</u></b><br/>Les Bleues sont uniquement des <b>femelles</b>, qui peuvent s&#039;allier
      avec une <b>femme hétérosexuelle (rarement homosexuelle) ou un homme homosexuel</b>. Ce sont de petits
      dragons, pas vraiment endurants (sauf ceux qui sont très bien entraînés) mais ils sont très agiles. En
      chiffre cela donne :
    <center><b>Longueur moyenne</b> : 15 à 20 mètres environ.<br/><b>Envergure moyenne</b> : 30 à 35
      mètres.<br/><b>Taille au garrot en moyenne</b> : 3 à 4 mètres au garrot.
    </center>
    <br/>Les femelles font environ <b>trois envols par an</b> (l&#039;état psychologique du maître ou de la
    maîtresse joue sur le nombre), mais elles sont <b>stériles</b>. Ce sont les dragons <b>les moins
    intelligents</b> (comparable à celle d&#039;un enfant d&#039;une dizaine d&#039;années).</p>
    <p><b>Remarque :</b> En général, le caractère du dragon se rapproche de très près à celui de son maître, ou
      au contraire, le complète.</p>
    <p><b>Note :</b> Les Dragonniers de Bleues et de Vertes sont forcément homosexuels, cependant ces dragons
      sont en grand nombre et leur âme-soeur sont pour la plus grande part des hommes. Ainsi, il y a un nombre
      important d&#039;homosexuels sur Nothé et cela est du au fait que la couleur du dragon influence plus la
      sexualité du jeune homme(en pleine adolescence donc son orientation sexuelle n&#039;est pas définie)
      plutôt qu&#039;au fait que son identité sexuelle influence la couleur de l&#039;Alliance !</p>
  </div>
</div>
