<div ng-class="myClass">
  <div ng-class="myTitle">De la reproduction à l'Alliance</div>
  <div ng-class="myItemDeco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div ng-class="myContenu">
    <p><u><b>Reproduction :</b></u></p>
    <p>Pour s&#039;accoupler, les dragonnes prennent leur envol. Elles appellent les mâles qui répondent
      présents (souvent l&#039;envie du dragon dépasse le refus du maître, celui-ci doit donc se faire une
      raison et faire corps avec son âme-soeur afin de ne pas la frustrer). Pour les vols nuptiaux de Reine,
      les bronzes et la dragonne saignent des proies : il faut qu&#039;ils prennent des forces car le vol va
      être éprouvant. Notez qu&#039;il faut absolument retenir les dragons de manger leurs proies sinon ça les
      alourdirait et leur vol sera désastreux. Cela requiert un effort immense, ce n&#039;est donc pas chose
      facile, il s&#039;agit d&#039;une lutte qu&#039;il faut absolument gagner. En revanche pour les femelles
      autres que les Reines, il est inutile pour elles et leurs prétendants de saigner des proies.</p>
    <p>Les dragonnes sont réglées, c&#039;est-à-dire qu&#039;elles ont l’habitude de prendre leur envol au
      courant d&#039;un mois défini. Petit rappel, un vol nuptial tous les deux ans pour les Reines et deux à
      quatre envols pour les vertes et les bleues. À l&#039;issue d&#039;un vol nuptial, une Reine pondra deux
      mois plus tard une quarantaine d&#039;œufs en forme d&#039;ovoïde allongé et aux couleurs diverses et
      variées qui écloront un mois après. Les vertes et les bleues sont stériles.</p>
    <p><b>Remarque :</b> Des rencontres de familiarisation oeufs-Candidats sont organisées sous la surveillance
      du Responsable des Candidats et de la Dragonnière.</p>
    <p><u><b>Éclosion :</b></u></p>
    <p>Un mois après la ponte, les dragonnets ont épuisé les réserves nutritives et éclosent, événement annoncé
      par les clairons jaillissant des gorges des dragons adultes. Les petits doivent casser la coquille déjà
      fragilisée pour s&#039;en extirper et rencontrer leur âme-soeur, ils possèdent une sorte de « dent »
      surnuméraire à l&#039;extrémité de leur museau, elle est grosse et bombée, donnant l&#039;impression d&#039;être
      un bec lorsque la gueule du dragonnet est ouverte. Elle tombera quelques jours plus tard. Il est temps
      pour les Candidats de faire leur entrée, ils ont alors libre accès à l&#039;aire d’Éclosion, ils peuvent
      se poster là où ils veulent et faire ce qu&#039;ils veulent du moment qu&#039;ils ne représentent aucun
      danger pour autrui.</p>
    <p><b>Remarques :</b><br/>•Le sable est très chaud, munissez-vous de bottes aux semelles bien épaisses.<br/>•
      Un dragon encore dans son oeuf qui ne sent pas son âme-soeur n&#039;éclot pas, les oeufs non-éclos sont
      jetés dans le Réseau (fait qui reste assez rare).<br/>• Il est déjà arrivé qu&#039;un dragonnet éclos
      meurt durant la cérémonie, si cela se produit c&#039;est que son âme-soeur n&#039;est pas venue assez
      rapidement à ses côtés, ce qui laisse un traumatisme.</p>
    <p><u><b>Alliance</b></u></p>
    <p>Les Candidats sont sur les sables brûlants, ils regardent ébahis les coquilles se fendre. Leur âme-soeur
      se trouve peut-être là, parmi ces beaux oeufs se balançant de plus en plus violemment. Lorsqu&#039;un
      dragonnet éclot, il a encore les paupières collées entre elles, elles se décollent peu à peu mais peu
      importe car il sent ou plutôt il ressent où se trouve son âme-soeur. Pour lui le monde est en nuances de
      gris et son âme-soeur brille d&#039;une blancheur rassurante. C&#039;est lui, c&#039;est l&#039;élu. Se
      dirigeant vers lui, les paupières maintenant ouvertes, il est capable de plonger son regard dans celui
      de son humain, le sien car enfin s&#039;est fait l&#039;Alliance. Se produit alors une sensation de
      douleur assez brutale, cela ne dure que quelques secondes rassurez-vous, puis enfin une sensation de
      bonheur, de bien être et de complétude : l&#039;Amexo du Candidat s&#039;est fondu dans le
      dragonnet.</p>
    <p>Le dragonnet annonce son nom à son âme-soeur puis ils partent ensemble, dans un état de béatitude
      extrême, vers l&#039;entrée de l&#039;aire où déjà s&#039;affairent des volontaires à la découpe de
      viande fraîche. Le nouvel apprenti doit alors saisir un seau de viande et donner morceau par morceau la
      nourriture à son dragon qui meurt de faim. La consigne : le faire mâcher lentement, ne pas trop lui en
      donner même s&#039;il réclame et le faire dormir après l&#039;avoir huilé.</p>
    <p><b>Remarque :</b> Les Candidats devenus Cadets ont l&#039;honneur d&#039;arborer un nouveau nom, la
      contraction de la première lettre ou première syllabe du nom de leur dragon et une syllabe de leur
      propre nom. Cela ne concerne que les garçons.</p>
  </div>
</div>
