<div class="item">
  <div class="titre_article">Les soins draconiques</div>
  <div class="item_deco"
       style="background-image: url('http://i57.servimg.com/u/f57/18/69/83/82/aftern10.png');"></div>
  <div class="item_contenu">
    <p><b><u>Soins quotidiens :</u></b></p>
    <p>Les soins quotidiens se résument à un bain avec un bon brossage, puis il faudra huiler la surface entière
      du cuir pour éviter qu&#039;il ne démange ou qu&#039;il craque, si cela se produit, c&#039;est très
      grave il faut recoudre immédiatement, c&#039;est aussi une preuve de négligence. Pour un dragon adulte,
      cette tâche peut être accomplie tous les deux jours en revanche pour les dragonnets il faut faire cela
      tous les jours car ils grandissent jusqu&#039;à ce qu&#039;il est deux ans !</p>
    <p>Il y a aussi des parasites semblables aux tiques, en plus gros qui s&#039;accrochent au cuir et sucent le
      sang. Il faut les retirer à la pointe du couteau sans omettre la tête. Ils laissent un trou assez
      conséquent dans la peau qu&#039;il faut immédiatement désinfecter et embaumer de gel de Rodon.</p>
    <p>N&#039;oublions pas les quelques petits bobos à soigner grâce à la pommade cicatrisante à base de Rodon,
      une plante grasse dont le gel a de très bonnes propriétés cicatrisantes et antiseptiques ou grâce à un
      anti-inflammatoire appliqué à même le cuir.</p>
    <p><b><u>Blessures :</u></b></p>
    <p>Il arrive qu&#039;ils s&#039;ouvrent, il suffira d&#039;une aiguille, d&#039;un fil bien résistant et
      souple puis il faudra recoudre avec précision et s&#039;assurer que cela se referme et cicatrise bien.
      Leur voilure est souvent touchée par ce genre d&#039;inconvénient il faut donc les raccommoder, d&#039;ailleurs
      c&#039;est souvent leur âme-soeur qui se charge de ça !</p>
    <p>Bien qu&#039;ils soient peu soumis aux fractures, il arrive pourtant qu&#039;il faille en réduire une.
      Pour cela il faut remettre les os en place soit les réaligner, puis on posera une atèle des plus
      robustes. S&#039;il s&#039;agit d&#039;une fracture ouverte, il faudra recoudre le cuir en plus des
      gestes précédents.</p>
    <p><b><u>Maladies :</u></b></p>
    <p>Quelques indigestions de temps en temps qui se traduisent par des maux de ventre et une diarrhée. Les
      indigestions sont soignées par des repas légers et en utilisant les breuvages adéquats prescrits par un
      herboriste.</p>
    <p>Il y a aussi des cas de constipation et de diarrhée sans pour autant qu&#039;il y ait d&#039;indigestion,
      la constipation est décelée en palpant le dessous de la queue qui sera anormalement dur. La diarrhée
      quant à elle se traduira par une extrême mollesse du cuir au niveau des sphincters, cela se détecte
      aussi avec la nature des bouses (liquides). Là encore, on utilise des potions à base de laxatif comme le
      Tamarinier.</p>
    <p>Pas vraiment une maladie pourtant, les dragons doivent être vermifugés deux fois par an. Pour cela, on
      utilise du Dromin, un puissant vermifuge spécifique aux dragons. Ce sont de gros fruits noirs que les
      dragons mangent sans sourciller, il en faut 5 pour les Reines et les Bronzes, 3 pour un Brun, 2 pour les
      vert(e)s et les bleues.</p>
  </div>
</div>
